
.contenedorCart{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 87vh;
}
.contenedorIzquierdo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenedorHeader{
    padding: 15px 20px;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
}
.vaciarCarrito{
    padding: 5px;
    border: black 1px solid;
    width: 100px;
    box-shadow: 4px 4px 4px rgb(189, 189, 189) ;
    border-radius: 5px;
    cursor: pointer;
}
.contenedorCarritoVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 20px;
}
.contenedorCarritoVacio div{
padding: 20px;
}
.contenedorCarritoVacio a{
    color: black;
    border-radius: 15px;
    border: rgb(124, 124, 124) solid 1px;
    padding: 15px; 
    transition: transform 0.2s;
}
.contenedorCarritoVacio a:hover{
    transform: scale(1.05);
    border: black solid 1px;
}
.contenedorItems{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    overflow: auto;
    color: yellow;
}


.contenedorDerecho{
    width: 30%;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0px;
}
.contenedorLista{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorTotal{
    background-color: black;
    height: 20vh;
    color: yellow;
    font-family: 'Black Ops One', cursive ;
    font-size: 30px;
    padding: 30px;
}
.botonFinalizarCompra{
    padding: 20px;
    color: black;
    background-color: yellow;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}