.contenedorProductoCart{
    display: flex;
    flex-direction: row;
    height: 150px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    position: relative;
    margin-bottom: 20px;
    font-family:  'Black Ops One', cursive;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(189, 189, 189) ;
    width: 250px;

}
.contDerecho img{
    height: 100%;
}
.contIzquierdo{
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}
.contTitulo{
    padding: 5px;
}
.contPrecio{
    font-weight: bold;
    color: black;
    text-shadow: none;
}
.button{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -7px;
    right: -7px;    
    background-color: rgb(247, 247, 247);
    border: rgb(109, 109, 109) 2px solid;
    font-size: 18px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}