@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.contenedorProductoCart{
    display: flex;
    flex-direction: row;
    height: 150px;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width: 250px;

}
.contDerecho img{
    height: 100%;
}
.contIzquierdo{
    color: black;
}
.contTitulo{
    padding: 5px;
}
.contPrecio{
    font-weight: bold;
}
.button{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -7px;
    right: -7px;    
    background-color: rgb(247, 247, 247);
    border: rgb(143, 143, 143) 2px solid;
    font-size: 18px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.3s;
}
.button:hover{
    border: rgb(88, 88, 88) 2px solid;
    background-color: orange;
    color: white;
}