@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.itemDetail{
    display: flex;
    flex-direction: row;
    padding: 20px 200px;
    background-image: url("../../assets/backgrounds/19743.jpg");
    background-size: contain;
    height: 500px;
    font-family: 'Poppins', sans-serif;
}
.imageContainer{
    width: 50%;
    overflow: hidden;
}
.imageContainer img{
    width: 100%;
}
.infoContainer{
    width: 50%;
    background-color: whitesmoke;
    height: 100%;
}

.titleContainer{
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio{
    font-family: 'Poppins', sans-serif;
}
.containerIrAlCarrito{
    width: 100%;
}
.irAlCarrito{
    color: black;
    text-shadow: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #FFD898;
}
.botonAgregarCarrito{
    border: none;
    width: 90%;
    color: black;
    text-shadow: none;
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}