@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: rgb(199, 199, 199);
}
.form-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url("../../assets/backgrounds/home-background.png");
    background-size: contain;
    width: 70%;
    text-align: center;
}
.body-section{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
}
.body-sub-section{
    width: 50%;
}
.body-sub-section input{
    width: 80%;
}
#telefono{
    width: 100%;
}
.form-body label{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
.form-body input{
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: whitesmoke;
}

.form-submit{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/backgrounds/shattered-island.gif");
    width: 30%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.submit-button{
    padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.submit-button:hover{
    transform: scale(1.1);
    background-color: orange;
}
.submit-button2{
    padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.submit-button2:hover{
    transform: scale(1.03);
    border:solid #FFD898 5px;
}

.formPopUpContainer{
    position: absolute;
    transition-duration: 1s;
    display: flex;
    transition-duration: 0.5s;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.show{
    transform: translate(0px);
}
.hide{
    transform: translate(500px);
}
.formPopUpValid{
    background-color: rgb(0 0 0 / 42%);
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.formPopUpValidPico{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(0 0 0 / 42%);
    position: absolute;
    bottom:-20px;
    left: 150px;
    }
.formPopUpInvalid{
    background-color: rgb(255 0 0 / 29%);
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}