@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.home-background{
  background-image: url("../../assets/backgrounds/home-background-2.jpg");
  background-size: contain;
}
.banner{
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-top: 53px;
  backdrop-filter: blur(1px);
}
.banner img{
  width: 95%;
}
.containerCategorias{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  backdrop-filter: blur(1px);
}
.containerCategoria{
  position: relative;
  z-index: 2;
}
.seleccionado{
  outline: orange 10px solid;
  border-radius: 10px; ;
}
.hoverNaranja{
  display: block;
  position: absolute;
  background-color: orange;
  height: 50%;
  width: 50%;
  z-index: -1;
  transition-duration: 0.2s;
}
#naranjaIzq{
  top: 20px;
  left:20px;
}
#naranjaDer{
  bottom: 20px;
  right: 20px;
}
.containerCategoria:hover #naranjaIzq{
  top: -20px;
  left:-20px;
}
.containerCategoria:hover #naranjaDer{
  bottom: -20px;
  right: -20px;
}

.categoriaImagen{
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  overflow: hidden; 
}
.categoriaImagen .cinta{
  position: absolute;
  width: 0%;
  height: 58px;
  background-color: orange;
  top: 65px;
  z-index: 0;
  transition-duration: 0.4s;
}
.categoriaImagen:hover .cinta{
  width: 80%;
}
.categoriaImagen .tituloCateg{
  font-family: 'Ceviche One', cursive;
  text-shadow: 2px 2px  black, -2px -2px  black;
  position: relative;
  z-index: 1;
  color:  whitesmoke;
  line-height: 180px;
  backdrop-filter: blur(1px);
  filter: grayscale(60%);
  height: 100%;
  width: 100%;
  transition: 0.1s;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.categoriaImagen .tituloCateg:hover{
  filter: none;
  backdrop-filter: none;
}

.fondoRemera{
  background-image: url(./../../assets/fondo-remeras.jpg);
}
.fondoBuzo{
  background-image: url(./../../assets/fondo-buzos2.jpg);
}
.fondoTodo{
  background-image: url(./../../assets/fondo-todo2.jpg);

}
.franja-divisor{
  height: 30px;
  background-color: orange;
  width: 100%;
}
.tienda{
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
    background-image: url("../../assets/backgrounds/19743.jpg");
    background-size: contain;
    position: relative;
  }
  .linkToNavBarContainer{
    position: absolute;
    height: 98%;
    width: 300px;
    top: 35px;
    left: 0px;
  }
  .linkToNavBar{
    position: sticky;
    top: 630px;
    left: 35px;
  }
  .linkToNavBar-contenido{
    position: absolute;
    top: 0px;
    left: 35px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    background-image: url(../../assets/flechanaranja.png);
    background-size: contain;
    transition-duration: 0.5s;
    z-index: 2;

  }
  .linkToNavBar-mensaje{
    position: absolute;
    top: 0px;
    left: 35px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: orange;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0px;
    align-items: center;
    color: rgb(161, 105, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 0px;
    transition-duration: 0.5s;
  }
  .linkToNavBar:hover .linkToNavBar-mensaje{
    width: 260px;
    font-size: 25px;
    padding-right: 20px;
  }

  .notificacionProductoAñadido{
    z-index: 2;
    height: 200px;
    width: 400px;
    background-color: whitesmoke;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(82 82 82 / 52%);
  }
  .notificacionProductoAñadido-img{
    height: 150px;
  }
  .notificacionProductoAñadido-img img{
    height: 100%;
  }
  .notificacionProductoAñadido-texto{
    font-size: 20px;
  }
  .popupActive{
    transform:translate(0px)
  }
  .popupInactive{
    transform:translate(500px)
  }
  