@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.tienda-item{
    background-color: whitesmoke;
    align-items: center;
    width: 30%;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 18px;
    margin-left: 18px;
    box-shadow: 4px 4px 4px rgb(228, 228, 228) ;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}
.tienda-item img{
    height: 350px;
}
.itemHeader{
    height: 90px;
}
.botonVer{
    text-shadow: none;
    color: black;
    background-color: orange;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.botonVer:hover{
    transform: scale(1.5);
    color: black;
    background-color: #FFD898;
}
.image-container{
    display: flex;
    justify-content: center;
}
.item-comprar{
    display: flex;
    justify-content: center;
}
.containerAgregarCarrito1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.precio{
    color: black;
    text-shadow: none;
    font-size: 20px;
}
.botonAgregarCarrito1{
    color: black;
    text-shadow: none;
    background-color:orange;
    font-size: 15px;
    cursor: pointer;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    transition-duration: 0.2s;
}
.botonAgregarCarrito1:hover{
    background-color:#FFD898;
}