.tienda-item{
    background-color: whitesmoke;
    width: 30%;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 4px 4px 4px rgb(189, 189, 189) ;
    color: yellow;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
  
}
.tienda-item img{
    height: 350px;
}
  