.active{
    transform: translate(0px);
}
.inactive{
    transform: translate(400px);
}

.contenedorCartwidget{
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 400px;
    top: 0px;
    right: 0px;
    background-color: whitesmoke;
    justify-content: center;
    transition-duration: 0.5s;
}
.contenedorPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenedorHeader{
    padding: 15px 20px;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
}
.cerrarCarrito{
    width: 30px;
    height: 30px;
    border: none;
    color: black;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.vaciarCarrito{
    padding: 5px;
    border: black 1px solid;
    width: 100px;
    box-shadow: 4px 4px 4px rgb(189, 189, 189) ;
    border-radius: 5px;
    cursor: pointer;
}
.contenedorItems{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
}