@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
.main-navbar{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    color: yellow;
    font-size: 18px;
    z-index: 5;
}
a{
    text-decoration: none;
    color: yellow;
}
.logo-container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.logo{
    height: 80px;
}
.nav-secciones{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    font-family: 'Black Ops One', cursive;
}
.nav-item{
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    transition: transform 0.2s;
}
.nav-item:hover{
    transform: scale(1.1);
}    
.btn-categorias:hover .categorias{
    display: block;
}
.categorias{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(0, 0, 0);
    border: solid 1px yellow;
    border-radius: 10%;
    padding: 10px;
    z-index: 5;
}
.categorias li:hover{
    background-color: yellow;
}
.categorias li:hover a{
    color: Black;
}

.cart-container {
    width: 10%;
    display:flex;
}
.cart-container img{
    width: 80px;

}
