@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
.main-navbar{
    width: 100%;
    background-color: #fca311;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    z-index: 5;
    height: 90px;
}
.main-navbar a{
    text-decoration: none;
    color: black;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 80px;
}
.nav-secciones{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    font-family: 'Ceviche One', cursive;
    font-size: 27px;
    cursor: pointer;
    color: black;
}
.nav-item{
    text-align: center;
    align-items: center;
    transition: transform 0.2s;
}
.nav-item:hover{
    transform: scale(1.1);
}    
.btn-categorias:hover .nav-categorias{
    display: block;
}
.nav-categorias{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #FFD898;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
}
.nav-categorias li:hover{
    background-color: orange;
}
.nav-categorias li:hover a{
    color: Black;
}

.cart-container {
    position: relative;
    height: 90px;
    width: 90px;
    display:flex;
    background-color: #FFD898;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    transition-duration: 0.5s;
}
.cart-container:hover{
    transform: scale(1.05);
}
.cart-container img{
    width: 75px;
    cursor: pointer;

}
.cart-number{
    width: 15px;
    height: 15px;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top:2px;
}
