.itemCountContainer{
    display: flex;
    padding: 20px;
}
.itemCount{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.itemCount button{
    height: 25px;
    width: 40px;
    background-color: rgb(197, 197, 197);
    border-radius: 10%;
    border: none;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}